*{
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}

:root{
    --white:white;
    --wheat:wheat;
    --black:black;
    --red:red;
    --purple: #673AB7;
    --deeppurple:#512DA8;
}

.menu-item{
    color: var(--white);
    border: 1px solid var(--white);
    border-radius: 5px;
    margin: 3px;
}



/* Logo */

.navbar-brand{
    font-size: 30px;
    color: var(--white);
}



#hero{
    
    background-image: linear-gradient( rgba(3,4,3,0.8), rgba(3,4,3,0.8)), url(/images/pexels-lukas-574080.jpeg);
    background-position: center;
    background-size: cover;
    padding: 15% 8%;
    text-align: center;
}

.sub-hero{
    padding: 10%;
}



.heading{
    padding-bottom: 20px;
    font-size: 40px;
    font-weight: bold;
    color: var(--white);
    /* font-family:'Dancing Script', cursive; */
}

.subheading{
    
    color: var(--white);
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 6%;

    

}

.subheading-span-color{
    color: orange;
}

.text{
    color: var(--black);
    font-size: 15px;
    line-height: 2;
    margin-bottom: 4%;   
    padding: 3px 20px;

}

.button{
    text-decoration: none;
    padding: 4px 13px;
    border: 1px solid var(--white);
    box-shadow: 2px 2px 3px var(--deeppurple);
    color: var(--white);
    background-color: var(--purple);
    font-size: 20;
    border-radius: 4px;
    
    
}
        
.button:hover{
    /* background-color:; */
    transition-duration: 3ms;
    color: var(--white);
    background-color: var(--deeppurple);
    transition: 0.1s;
    
}

/* About us section */

#secondsec{
    padding: 5% 10%;
   
    text-align:start;
 
    
}
.title{
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 8%;
    text-align: center;

}


.my-picture{
    width: 90%;
    height: 95%;
    border-radius: 5px;
    box-shadow: 3px 3px 4px;
   

}


#about-text{
   padding-top: 5% ;
}

.button-container{
    margin-top: 10%;
    
}

#Resume-button{
    border: 2px solid var(--purple);
    border-radius: 3px;
    text-decoration: none;
    padding: 6px 15px;
    color: var(--black);
    font-size: 20px;
      
    

}

/* Technologies secction */
#Techstack{
    padding: 15% 6%;
    text-align: center;
    background-color: whitesmoke;
    
}
.tech-stack-subtitle{
    margin-bottom: 10%;
    font-size: 35px;
    color: black;
    font-weight:bold ;
    
    
}
.techimg{
    width: 70%;
    margin-bottom: 10%;
}
.subhead{
    color: black;
    font-size: 15px;
    margin-bottom: 16%;
    font-weight: bold;
}

/* Portfolio */
#thirdsec{
    padding: 6% 7%;
    background-color: black;

}
.thirdsechead h1{
    text-align: center;
    padding-bottom: 35px;
    font-size: 70px;
    color: whitesmoke;
    font-family: 'Dancing Script', cursive;

}


 #Information{
    
    text-align: center;
    padding:6% 6%;
    
}

.info-title{
    font-size: 35px;
   margin-bottom: 15px;
}


.tel{
    text-decoration: none;
    color: var(--deeppurple);

}

.email{
    text-decoration: none;
    color: var(--deeppurple);
}
.footer{
    background-color: whitesmoke;
    

}
.footer p{
    text-align: center;
    padding: 3%;
}


/* Mobile */

@media screen and (max-width:800px){
   

    #hero{
    
        text-align: center;
        margin-bottom: 18%;
        
        
       
    }
    .subheading{
        margin-bottom: 15%;
    }


    
    #secondsec{
        text-align: center;
        margin-bottom: 15%;
    }

    .title{
        margin-bottom: 12%;
    }

    .my-picture{
        width: 100%;
        height: 96%;
    
    }
}
